SecureServices/Movie.API/bin/
SecureServices/Movie.API/obj/
SecureServices/IdentityServer/bin/
SecureServices/IdentityServer/obj
SecureServices/MovieClient/bin/
SecureServices/MovieClient/obj
SecureServices/.idea/
